.hover-effect:hover {
    box-shadow: 3px 3px palegreen;
    background-color: darkgreen;
    color: white;
  }
  .hover-effect2:hover{
    /* box-shadow: 2px 2px darkseagreen; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }