<!-- Banner -->
<img src="img/banner-khoa-hoc-digital-marketing-V2.jpg" class="img-fluid my-5" alt="Lỗi ảnh">
<!-- Content -->
<div>
    <!-- Chữ đầu trang -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 py-3 my-5 bg-success-subtle">
            <p class="text-center fs-1   text-success fw-bold">{{ the_p1 }}</p>
        </div>
    </div>
</div>
<!-- Bảng đặt khóa học -->
<div class="row">
    <div class="card my-3">
        <!-- <h5 class="card-header">{{ title }}</h5> -->
        <div class="card-body">
            <form ng-submit="datHang()">
                <label for="" class="form-label">Họ tên:</label>
                <input type="text" class="form-control" ng-model="inputValue.hoTen" disabled>
                <label for="" class="form-label">Căn cước công dân:</label>
                <input type="text" class="form-control" ng-model="inputValue.cccd" disabled>
                <label for="" class="form-label">Email:</label>
                <input type="text" class="form-control" ng-model="inputValue.email" disabled>
                <br>
                <!-- Giới tính -->
                <label for="" class="form-label">Giới tính:</label>
                <input type="radio" ng-model="inputValue.gioiTinh" class="form-check-input" id="gender"
                    name="radio-stacked" value="Nam" disabled>
                <label class="form-check-label" for="validationFormCheck2">Nam</label>
                <input type="radio" ng-model="inputValue.gioiTinh" class="form-check-input" id="gender"
                    name="radio-stacked" value="Nu" disabled>
                <label class="form-check-label" for="validationFormCheck3">Nữ</label>               
                <br>
                <!-- SDT  -->
                <label for="" class="form-label">Số điện thoại:</label>
                <input type="text" class="form-control" id="sdt" ng-model="inputValue.sdt" disabled>
                <label for="thanhToan" class="form-label">Khóa học: </label>
                <select class="form-select" aria-label="select example"  ng-model="inputValue.khoaHoc" disabled>
                    <option value="">Mời chọn khóa học</option>
                    <option value="KH1">Khóa học Marketing Online</option>
                    <option value="KH2">Khóa học bán hàng Online</option>
                    <option value="KH3">Khóa học Digital Marketing</option>
                </select>
                <div ng-show="inputValue.khoaHoc">
                    <label for="" class="form-label">Thành tiền:</label>
                    <input type="text" class="form-control" id="hocPhi" ng-model="inputValue.thanhTien" disabled >
                </div>
                <!-- Ngày sinh -->
                <label for="" class="form-label">Ngày sinh:</label>
                <input type="date" class="form-control" ng-model="inputValue.ngaySinh" disabled>
                <!-- HTTT -->
                <label for="thanhToan" class="form-label">Chọn hình thức thanh toán: </label>
                <select class="form-select" aria-label="select example" id="thanhToan" ng-model="inputValue.hinhThucTT" disabled>
                    <option value="">Mời chọn phương thức thanh toán</option>
                    <option value="1" >Thanh toán tiền mặt</option>
                    <option value="2">Thanh toán qua ngân hàng</option>
                </select>
                
                <div class="submit mt-3">
                    <a href="#!/suahang/{{inputValue.id}}">
                        <button class="btn btn-warning " type="submit">Sửa thông tin đặt hàng</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>